.gallery-card {
    @include rounded-card;
    max-width: 673px;
    .card {
        border:none;
    }
}

.NFT-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}