/*colors variables */
$color-primary:black;
$color-primary-transp:#8382828e;
$color-secondary: white;
$color-secondary-light:white;
$color-secondary-dark: rgba(255, 255, 255, 0.603);
$color-tertiary: rgb(19, 200, 224);
$color-tertiary-dark:  rgb(10, 97, 109);


