/*colors variables */
$color-primary:white;
$color-primary-transp:rgba(255, 255, 255, 0.603);
$color-secondary: rgb(59, 59, 59);
$color-secondary-light:#8382828e;
$color-secondary-dark:black;


