.banner {
    position: fixed;
    z-index: 800;
    height: fit-content;
    background-color: white;
    top: 65px;
    width: 100%;
    min-width: 271px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        padding-right: 25px;
        color:$color-tertiary-dark-transp;
        font-weight: 600;
    }
}