.NFTCard {
    border-radius: 25px;
    padding: 5px 5px 0px 5px;
    height: 340px;
    width: 280px;
    box-shadow: 0 0 30px #dddddd;
    margin: 15px;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        img {
        height: 220px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;  
        }
        .data-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p {
                margin-block-start: 3px;
                margin-block-end: 3px;
                padding: 0 0 0 0;
                font-size: 16px;
                font-weight: 600;
                margin-left: 10px;
                margin-right: 10px; 
            }
        }
        .text-container {
            height: 20%;
            margin: none;
            text-align: left;
            padding-top: 5px;
             
            h4, p {
                margin-block-start: 3px;
                margin-block-end: 3px;
                padding: 0 0 0 0;
                
                margin-left: 10px;
                margin-right: 10px; 
            }

            h4 {
                font-size: 15px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
            } 
        }
        
    }
}